:root{

    --color-text: #FFFFFF;
    --color-border-photo: #FFFFFF; 
    --color-text-foncer: #212121;
    --color-principal-clair: #3E3E3E;
    --color-principal: #212121;
    --color-secondaire: #D73222; 
    --color-button-rgb: #2C73D2;
    --color-ham-menu: #2C73D2;
    --color-fond-clair: #DCDCDC;
    --color-logo-texte: #2C73D2;

}